{% extends "layout.html" %}

{% block body_içerik %}

    <h3>Dashboard</h3>
    <small>Welcome, {{session["username"]}}</small><hr>

    <a href="/addarticle" class="btn btn-success">Add Article</a><hr><br><br>

    <h3>My Posts</h3><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Post id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{post.id}}</th>
                    <td><a href="/post/{{post.id}}">{{post.title}}</a></td>
                    <td>{{post.author}}</td>
                    <td>{{post.date_posted.strftime('%B %d, %Y')}}</td>
                    <td><a href="/edit/{{post.id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/delete/{{post.id}}"  class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body_içerik %}


