{% extends "layout.html" %}

{% block body_içerik %}
    <h3>Register</h3><hr>

    {% from "includes/formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.accept_tos) }}
        </dl>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>


{% endblock %}

